.weshareNote{
	position:absolute;
	
	padding:5px 5px 5px 5px;
	margin:0;
	
	min-height:14px;
	max-height:400px;
	min-width:70px;
	max-width:400px;
	
	
	font-size:14px;
	border:2px solid black;
	border-radius:4px;
	background-color:white;
	
	/* (: */
	z-index:2147483647;
}

.weshareNote::before{
	content:attr(data-permission)' note from 'attr(data-owner-name);
	display:block;
	font-size:14px;
	color:blue;
}
