
/*笔记最外层容器*/
.weshareNoteParentDiv{
	position:absolute;
	display:block;
	box-sizing:content-box;
	--fontsize:16px;/*字体尺寸*/
	--iconsize:16px;/*图标尺寸*/
	--bordercolor:black;/*边框颜色*/
	--bgcolor:white;/*背景颜色*/
	--fontcolor:black;/*字体颜色*/
	font-size:0;
	line-height:var(--iconsize);
	
	margin:0;
	padding:0;
	
	/* (: */
	z-index:2147483647;
	
}

/*笔记的操作小图标*/
.weshareNoteIcon{
	--basedisplay:inline-block;
	margin:0;
	display:inline-block;
	font-size:var(--iconsize);
	line-height:1.5em;
	width:1.5em;
	height:1.5em;
	box-sizing:content-box;
	border:0.1em solid;
	border-color:var(--bordercolor);
	background-color:var(--bgcolor);
	
	border-radius:50%;
	
	text-align:center;
}


/*笔记的可编辑区域*/
.weshareNoteBody{
	--basedisplay:block;
	margin:0;
	display:block;
	font-size:var(--fontsize);
	line-height:1em;
	min-height:1em;
	min-width:5em;
	max-height:10em;
	max-width:20em;
	padding:0.3em;
	box-sizing:content-box;
	border:0.1em solid;
	border-color:var(--bordercolor);
	background-color:var(--bgcolor);
	border-radius:0.6em;
	color:var(--fontcolor);
	
	word-break: break-word;
	white-space: pre-wrap;
	
	overflow:auto;
}
.weshareNoteBody::after{
	display:block;
	content:attr(data-wnum)'/800';
	text-align:right;
	opacity:0.6;
}


/*公开笔记相关*/
.weshareDashedBorder{
	border:0.1em dashed;
	border-color:var(--bordercolor);
}
.weshareOpLine{
	--basedisplay:block;
	margin:0;
	display:block;
	font-size:var(--iconsize);
	line-height:1.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	min-height:1.5em;
	box-sizing:content-box;
	border:0.1em dashed;
	border-color:var(--bordercolor);
	background-color:var(--bgcolor);
	
	border-radius:0.5em;
	text-align:center;
}
.weshareOpLine a{
	color:var(--fontcolor);
}
.weshareOpLine a:hover{
	font-weight:bold;
}