
/*笔记最外层容器*/
.weshareNoteParentDiv{
	position:absolute;
	display:block;
	
	--fontsize:16px;/*字体尺寸*/
	--iconsize:16px;/*图标尺寸*/
	--bordercolor:black;/*边框颜色*/
	--bgcolor:white;/*背景颜色*/
	--fontcolor:black;/*字体颜色*/
	
	/* (: */
	z-index:2147483647;
	
}

/*笔记的操作小图标*/
.weshareNoteIcon{
	--basedisplay:inline-block;
	display:inline-block;
	font-size:var(--iconsize);
	line-height:1.5em;
	width:1.5em;
	height:1.5em;
	
	border:0.2em solid;
	border-color:var(--bordercolor);
	background-color:var(--bgcolor);
	
	border-radius:50%;
	
	text-align:center;
}

/*笔记的可编辑区域*/
.weshareNoteBody{
	--basedisplay:block;
	display:block;
	font-size:var(--fontsize);
	min-height:1em;
	min-width:5em;
	max-height:10em;
	max-width:20em;
	padding:0.3em;
	
	border:0.2em solid;
	border-color:var(--bordercolor);
	background-color:var(--bgcolor);
	border-radius:0.6em;
	color:var(--fontcolor);
	
	overflow:auto;
}