
body{
	background-color:rgba(255,255,255,0);
	font-size:14px;
	width:25em;
	display:flex;
	justify-content:center;
}

.content{
	display:block;
}

.btnContent{
	display:flex;
	justify-content:center;
}

.btn{
	display:block;
	border-radius:1em;
	border:0.1em solid black;
	padding:0.1em 0.5em;
	margin:0 0.5em;
}